<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block  title%}首页{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/vendor/simple-datatables/style.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
</head>
<body>
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="#" class="logo d-flex align-items-center">
        <span class="d-none d-lg-block" style="font-size: 22px">旅游数据可视化系统</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div>
    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/media/{{ userInfo.userAvatar }}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ userInfo.userName }}</span>
          </a><!-- End Profile Iamge Icon -->
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ userInfo.userName }}</h6>
              <span>{{ userInfo.userTextarea }}</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'users-profile' %}">
                <i class="bi bi-person"></i>
                <span>个人信息</span>
              </a>
            </li>
            <li>
              <a class="dropdown-item d-flex align-items-center" href="{% url 'logOut' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>退出登录</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->
      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->
  
  <!-- ======= Sidebar ======= -->
   {% block sidebar %}
 
   {% endblock sidebar %} 
  
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item">
        <a class="nav-link " href="{% url 'home' %}">
          <i class="bi bi-grid"></i>
          <span>首页</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading">个人信息</li>
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url 'users-profile' %}">
          <i class="bi bi-menu-button-wide"></i><span>个人信息</span>
        </a>
      </li><!-- End Components Nav -->
        <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url 'changeSelfInfo' %}">
          <i class="bi bi-menu-button-wide"></i><span>修改信息</span>
        </a>
      </li><!-- End Components Nav -->
       <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url 'changePassword' %}">
          <i class="bi bi-journal-text"></i><span>修改密码</span>
        </a>
      </li>
       <li class="nav-heading">评论功能</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'tableData' %}">
          <i class="bi bi-layout-text-window-reverse"></i><span>添加评论</span>
        </a>
      </li>
        
      <li class="nav-heading">数据可视化</li>
        
      <li class="nav-item">
        <a class="nav-link collapsed"  href="{% url 'cityChar' %}">
          <i class="bi bi-bar-chart"></i><span>城市和景点等级分析</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'rateChar' %}">
          <i class="bi bi-bar-chart"></i><span>评分情况分析</span>
        </a>
      </li><!-- End Icons Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'priceChar' %}">
          <i class="bi bi-bar-chart"></i>
          <span>价格销量分析</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'commentsChar' %}">
          <i class="bi bi-bi bi-bar-chart"></i>
          <span>评论分析</span>
        </a>
      </li>
        
      <li class="nav-heading">推荐功能</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'recommendation' %}">
          <i class="bi bi-envelope"></i>
          <span>推荐算法</span>
        </a>
      </li><!-- End Contact Page Nav -->
      <li class="nav-heading">账号管理</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'logOut' %}">
          <i class="bi bi-envelope"></i>
          <span>退出登录</span>
        </a>
      </li><!-- End Contact Page Nav -->
     <li class="nav-heading">后台管理</li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="http://localhost:8000/admin/">
          <i class="bi bi-envelope"></i>
          <span>数据管理</span>
        </a>
      </li><!-- End Contact Page Nav -->
    </ul>
  </aside><!-- End Sidebar-->
   
  <main id="main" class="main">
    {% block content %}
    <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>首页</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
          <li class="breadcrumb-item active">首页</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Sales Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title">5A级景点个数</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-star-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ a5Len }}个</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Sales Card -->

            <!-- Revenue Card -->
            <div class="col-xxl-4 col-md-6">
              <div class="card info-card revenue-card">
                <div class="card-body">
                  <h5 class="card-title">评论最多的景区</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-chat-left-text"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ commentsTotalTitle }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Revenue Card -->

            <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
                <div class="card-body">
                  <h5 class="card-title">拥有最多景点的城市</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi-map-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ cityDicSort }}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Customers Card -->

            <!-- Reports -->
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">各省市景点数量</h5>

                  <!-- Line Chart -->
                  <div id="mains" style="width:100%;height:450px"></div>
                </div>
              </div>
            </div><!-- End Reports -->

            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">景点门票价格及销量</h5>
                  <table class="table table-borderless datatable" style="table-layout:fixed; height: 888px;">
                    <thead>
                      <tr>
                        <th scope="col" style="text-align:center;">景区图片</th>
                        <th scope="col">景区名</th>
                        <th scope="col">景区星级</th>
                        <th scope="col">所在城市</th>
                        <th scope="col">景区评分</th>
                        <th scope="col">门票价格</th>
                        <th scope="col">门票销量</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in sale_countTop %}
                        <tr>
                            <td style="text-align: center;">
                                <a href="{{ i.detailUrl }}">
                                    <img style="vertical-align:middle; width:100%" src="{{ i.cover_img }}" alt="">
                                </a>
                            </td>
                            <td>{{ i.sightName }}</td>
                            <td><a href="#" class="text-primary">{{ i.star }}</a></td>
                            <td>{{ i.city }}市</td>
                            <td>
                                    {% if i.score == '5' %}
                                        <span class="badge bg-success">{{ i.score }}分</span>
                                    {% elif i.score == '5.0' %}
                                        <span class="badge bg-success">{{ i.score }}分</span>
                                    {% elif i.score >= '0' and i.score < '1' %}
                                        <span class="badge bg-danger">{{ i.score }}分</span>
                                    {% elif i.score >= '1' and i.score < '2' %}
                                        <span class="badge bg-warning">{{ i.score }}分</span>
                                    {% elif i.score >= '2' and i.score < '3' %}
                                        <span class="badge bg-info">{{ i.score }}分</span>
                                    {% elif i.score >= '3' and i.score < '4' %}
                                        <span class="badge bg-secondary">{{ i.score }}分</span>
                                    {% elif i.score >= '4' and i.score < '5' %}
                                        <span class="badge bg-primary">{{ i.score }}分</span>
                                    {% endif %}
                            </td>
                            <td><span class="text-danger">{{ i.price }}元</span></td>
                            <td><span class="text-primary">{{ i.sale_count }}个/月</span></td>
                          </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- End Recent Sales -->

          </div>
        </div><!-- End Left side columns -->

        <!-- Right side columns -->
        <div class="col-lg-4">

          <!-- Recent Activity -->
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">评分排名前十的景点</h5>
              <div class="activity" style="height: 638px">
                  {% for travel in scoreTop10Data %}
                    <div class="activity-item d-flex" style="margin-bottom:15px">
                        <a href="{{ travel.detailUrl }}">
                              <img style="width:50px;height:50px;object-fit:cover;margin-right:5px;" src="{{ travel.cover_img }}" alt="">
                        </a>
                      <div class="activite-label">
                          {{ travel.sightName }}
                      </div>
                      <i class='bi bi-circle-fill activity-badge text-danger  align-self-start'></i>
                      <div class="activity-content">
                        城市: {{  travel.city }} <a href="#"  style="margin-left:5px;color:orange!important;" class="fw-bold text-dark">{{ travel.score }}分</a>
                      </div>
                    </div>
                  {% endfor %}
              </div>
            </div>
          </div><!-- End Recent Activity -->

          <!-- Budget Report -->
          <div class="card">
            <div class="card-body pb-0">
              <h5 class="card-title">A级景点数前十城市分级情况</h5>
              <div id="mainsTwo" style="width:100%;height:450px" ></div>
            </div>
          </div><!-- End Budget Report -->

          <!-- Website Traffic -->
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">A级景点数前十城市景点平均评分</h5>
                        <div id="mainsThree" style="width:100%;height: 450px"></div>
                    </div>
                  </div>
          </div><!-- End Website Traffic -->
        
        </div><!-- End Right side columns -->
    </section>
    {% endblock %}
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      Copyright &copy; 2024.<a target="_blank" href="http://localhost:8000/app/home/">基于Django框架的旅游数据可视化系统</a>
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->



    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="/static/echarts.min.js"></script>
  <script src="/static/china.js"></script>
  {% block echarts %}
    <script>
        var myChart = echarts.init(document.getElementById('mains'));
        var mydata = {{ geoData | safe }}
        var options= {
                    tooltip: {
                        triggerOn: "mousemove",
                        padding:8,
                        borderWidth:1,
                        borderColor:'#409eff',
                        backgroundColor:'rgba(255,255,255,0.2)',
                        textStyle:{
                            color:'#000',
                            fontSize:12
                        },
                        formatter: function(e) {
                            let data = e.data;
                            return data ? '省份：' + data.name + '\t景点数：' + data.value : '暂未拥有数据'
                        }
                    },
                    visualMap: {
                        show:true,
                        left: 26,
                        bottom: 40,
                        showLabel:true,
                        pieces: [
                            {
                                gte: 300,
                                label: ">= 300",
                                color: "#ff7979"
                            },
                            {
                                gte: 150,
                                lt: 300,
                                label: "150 - 300",
                                color: "#badc58"
                            },
                            {
                                gte: 100,
                                lt: 150,
                                label: "100 - 150",
                                color: "#ffbe76"
                            },
                            {
                                gte: 50,
                                lt:100,
                                label: "50 - 100",
                                color: "#f6e58d"
                            },
                            {
                                gte: 10,
                                lt: 50,
                                label: "10 - 50",
                                color: "#7ed6df"
                            },
                            {
                                lt:10,
                                label:'<10',
                                color: "orange"
                            }
                        ]
                    },
                    geo: {
                        map: "china",
                        roam: true,
                        scaleLimit: {
                            min: 1,
                            max: 2
                        },
                        zoom: 1,
                        top: 10,
                        layoutSize: "100%", //保持地图宽高比
                        label: {
                            normal: {
                                show:true,
                                fontSize: "14",
                                color: "#fff"
                            },
                            emphasis: {
								show: false,
								textStyle: {
									color: "#F3F3F3"
								}
							}
                        },
                        itemStyle: {
                            normal: {
                                borderColor: "rgba(0, 0, 0, 0.4)",
                                areaColor: '#008c8c',
                            },
                            emphasis: {
                                areaColor: "orange",
                                shadowOffsetX: 0,
                                shadowOffsetY: 0,
                                borderWidth: 0
                            }
                        }
                    },
                    series: [
                        {
                            name: "成果预览",
                            type: "map",
                            geoIndex: 0,
                            data: mydata
                        }
                    ]
            }
        myChart.setOption(options);
    </script>
    <script>
               
        var chartDom = document.getElementById('mainsTwo');
        var myChart = echarts.init(chartDom);
        var option;
        
        // 假设finalResult数据结构如下：
        // finalResult = {
        //     '城市1': {'3A': count1, '4A': count2, '5A': count3},
        //     '城市2': {...},
        //     ...
        // }
        var finalResult = {{ finalResult|safe }};
        // 计算每个城市的总景区数量并排序
        var sortedCities = Object.entries(finalResult).sort((a, b) => {
            const totalA = (a[1]['3A'] || 0) + (a[1]['4A'] || 0) + (a[1]['5A'] || 0);
            const totalB = (b[1]['3A'] || 0) + (b[1]['4A'] || 0) + (b[1]['5A'] || 0);
            return totalA - totalB; // 降序排列
        });
        
        // 取前10个排序后的城市
        sortedCities = sortedCities.slice(0, 10);
        
        // 准备ECharts需要的格式
        var categories = []; // 城市名称
        var data3A = []; // 3A景区数据
        var data4A = []; // 4A景区数据
        var data5A = []; // 5A景区数据
        
        sortedCities.forEach(([city, counts]) => {
            categories.push(city);
            data3A.push(counts['3A'] || 0);
            data4A.push(counts['4A'] || 0);
            data5A.push(counts['5A'] || 0);
        });

        
        option = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            legend: {},
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value'
            },
            yAxis: {
                type: 'category',
                data: categories
            },
            series: [
                {
                    name: '3A景区',
                    type: 'bar',
                    stack: 'total',
                    label: {
                        show: true
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: data3A
                },
                {
                    name: '4A景区',
                    type: 'bar',
                    stack: 'total',
                    label: {
                        show: true
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: data4A
                },
                {
                    name: '5A景区',
                    type: 'bar',
                    stack: 'total',
                    label: {
                        show: true
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    data: data5A
                }
            ]
        };
        
        option && myChart.setOption(option);
    </script>

    <script>
        var chartDom = document.getElementById('mainsThree');
        var myChart = echarts.init(chartDom);
        var option;
        
        // 假设你已经有了topTenCitiesWithScores数据，由后端提供
        var topTenCitiesWithScores = {{ topTenCitiesWithScores|safe }}; // 使用后端传递的数据
        
        var colors = ['#ff7f0e', '#1f77b4', '#2ca02c', '#d62728', '#9467bd', '#8c564b', '#e377c2', '#7f7f7f', '#bcbd22', '#17becf']; // 颜色列表
        
        // 转换数据，同时构建xAxis的data
        var chartData = [];
        var cityNames = []; // 用于存储城市名称，用于xAxis.data
        for (var city in topTenCitiesWithScores) {
            var colorIndex = cityNames.length % colors.length; // 根据城市名称的顺序分配颜色，确保颜色固定
            chartData.push({
                name: city,
                value: [city, topTenCitiesWithScores[city]],
                itemStyle: {
                    color: colors[colorIndex]
                }
            });
            cityNames.push(city); // 收集城市名称
        }
        
        // 配置图表
        option = {
            xAxis: {
                type: 'category',
                data: cityNames // 使用收集的城市名称作为x轴标签
            },
            yAxis: {
                type: 'value',
                scale: true  // 添加这一行，让Y轴根据数据自动缩放
            },
            series: [{
                symbolSize: 20,
                data: chartData,
                type: 'scatter',
                emphasis: {
                    focus: 'series'
                }
            }],
            label: { // 添加这一行来显示数值
                    show: true,
                    position: 'top', // 或者 'bottom', 'left', 'right' 位置可以根据需要调整
                    formatter: '{@1}', // 这里 '{@1}' 表示显示数据中的第二个值，即得分
                    fontSize: 10, // 可选，调整字体大小
                    color: '#333' // 可选，调整字体颜色
                },
            tooltip: { // 添加 tooltip 配置来显示鼠标悬停信息
                trigger: 'item', // 触发类型，默认数据项图形触发。
                formatter: function (params) {
                    // 自定义 tooltip 内容格式
                    return '<br/>城市名: ' + params.name + '<br/>景点平均评分: ' + params.value[1];
                },
                backgroundColor: 'rgba(255,255,255,0.7)', // tooltip 背景颜色，可调整透明度
                textStyle: {
                    color: '#000', // tooltip 文字颜色
                },
                extraCssText: 'box-shadow: 0 0 3px rgba(0, 0, 0, 0, 0.3);', // 添加阴影效果
            }
        };
                
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);

  </script>
   {% endblock %}
  <script src="/static/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/chart.js/chart.min.js"></script>
  <script src="/static/vendor/echarts/echarts.min_20231108_161350.js"></script>
  <script src="/static/vendor/quill/quill.min.js"></script>
  <script src="/static/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/static/vendor/tinymce/tinymce.min.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>
  <script src="/static/js/main.js"></script>
</body>

</html>