{% extends 'base.html' %}

{% block  title%}
添加评论
{% endblock %}

{% block sidebar%}


{% endblock %}


{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>添加评论</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'tableData' %}">评论功能</a></li>
          <li class="breadcrumb-item active">添加评论页面</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>


              <section class="section dashboard">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">添加评论数据</h5>
                      <div class="activity">
                          <form action="{% url 'addComments' id %}" method="POST" enctype="multipart/form-data">
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">旅游地</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="username" disabled value="{{ travelInfo.sightName }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">详情地址</label>
                                  <div class="col-sm-10">
                                    <input type="text" disabled name="address" value="{{ travelInfo.detailAddress }}" class="form-control">
                                  </div>
                                </div>
                                <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">封面图片</label>
                                  <div class="col-sm-10">
                                      <img style="width:300px;border:1px solid #ddd;padding:5px" src="{{ travelInfo.cover_img }}" alt="">
                                  </div>
                                </div>
                              <style>
                                  .start-container{
                                      font-size: 0;
                                  }
                                  .start{
                                      font-size:24px;
                                      cursor: pointer;
                                      color:gray;
                                      display: inline-block;
                                      transition: color 0.3s;
                                  }
                                  .start.checked{
                                      color:orange
                                  }

                              </style>
                              <script>
                                  let currentRating = 0
                                  function rateStart(rating){
                                      currentRating = rating
                                      document.getElementById('rate').value = rating
                                      const starts = document.querySelectorAll(".start")
                                      starts.forEach((item,index)=>{
                                          if(index<rating){
                                              item.classList.add('checked')
                                          }else{
                                              item.classList.remove('checked')
                                          }
                                      })
                                  }
                              </script>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">评分选择</label>
                                  <div class="col-sm-10 start-container">
                                      <div class="start" onclick="rateStart(1)">★</div>
                                      <div class="start" onclick="rateStart(2)">★</div>
                                      <div class="start" onclick="rateStart(3)">★</div>
                                      <div class="start" onclick="rateStart(4)">★</div>
                                      <div class="start" onclick="rateStart(5)">★</div>
                                      <input type="text" name="rate" id="rate" style="display:none;">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">评论内容</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="content" placeholder="请输入对该景点评论的内容"  class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                  </div>
                              </div>
                          </form>

                      </div>

                    </div>
                  </div>

                </div>

              </div>
            </section>


{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}