{% extends 'base.html' %}

{% block  title%}
修改个人信息页面
{% endblock %}

{% block sidebar%}

{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>个人信息</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">个人信息</a></li>
          <li class="breadcrumb-item active">修改个人信息页面</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>
       <section class="section dashboard">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">修改个人信息</h5>
                      <div class="activity">
                          <form action="{% url 'changeSelfInfo' %}" method="POST" enctype="multipart/form-data">
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">用户名</label>
                                  <div class="col-sm-10">
                                    <input type="text" name="username" disabled value="{{ userInfo.userName }}" class="form-control">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                <!-- 地址总标签保持不变 -->
                                <label for="inputText" class="col-sm-2 col-form-label">地址</label>
                                <div class="col-sm-10">
                                    <div class="row">
                                        <!-- 省份部分 -->
                                        <div class="col-auto pr-0">
                                            <input type="text" id="provinceInput" class="form-control" placeholder="省份">
                                        </div>
                                        <div class="col-auto px-0">
                                            <span style="font-size: 18px;">省</span>
                                        </div>

                                        <!-- 城市部分 -->
                                        <div class="col-auto pl-0">
                                            <input type="text" id="cityInput" class="form-control" placeholder="城市">
                                        </div>
                                        <div class="col-auto px-0">
                                            <span style="font-size: 18px;">市</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 隐藏的全地址输入保持不变 -->
                            <input type="hidden" name="address" id="fullAddress" value="{{ userInfo.userAddress }}">
                               <script>
                                    document.addEventListener('DOMContentLoaded', function() {
                                        // 页面加载时从localStorage恢复数据
                                        var savedProvince = localStorage.getItem('provinceInput');
                                        var savedCity = localStorage.getItem('cityInput');

                                        if(savedProvince) {
                                            document.getElementById('provinceInput').value = savedProvince;
                                        }
                                        if(savedCity) {
                                            document.getElementById('cityInput').value = savedCity;
                                        }

                                        updateFullAddress(); // 初始化时更新完整地址

                                        // 监听省份和城市输入变化，实时更新完整地址
                                        document.getElementById('provinceInput').addEventListener('input', function() {
                                            var province = this.value.trim();
                                            localStorage.setItem('provinceInput', province); // 保存到localStorage
                                            updateFullAddress();
                                        });

                                        document.getElementById('cityInput').addEventListener('input', function() {
                                            var city = this.value.trim();
                                            localStorage.setItem('cityInput', city); // 保存到localStorage
                                            updateFullAddress();
                                        });

                                        function updateFullAddress() {
                                            var province = document.getElementById('provinceInput').value.trim();
                                            var city = document.getElementById('cityInput').value.trim();
                                            if(province && city) {
                                                document.getElementById('fullAddress').value = province + "省" + city + "市";
                                            } else {
                                                document.getElementById('fullAddress').value = ""; // 清空无效输入
                                            }
                                        }
                                    });
                                    </script>
                                                                  <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">性别</label>
                                  <div class="col-sm-10">
                                    <select class="form-select" name="sex" aria-label="Default select example">
                                          <option {% if userInfo.userSex == '男' %}
                                          selected
                                          {% endif %}  value="男">男</option>
                                          <option {% if userInfo.userSex == '女' %}
                                          selected
                                          {% endif %} value="女">女</option>
                                        </select>
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">个人简介</label>
                                  <div class="col-sm-10">
                                    <textarea name="textarea" class="form-control" placeholder="{{ userInfo.userTextarea }}" value="{{ userInfo.userTextarea }}" style="height: 100px;"></textarea>
                                  </div>
                                </div>
                            <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">头像上传</label>
                                  <div class="col-sm-10">
                                      <img style="width:100px;border:1px solid #ddd;padding:5px" src="/media/{{ userInfo.userAvatar }}" alt="">
                                      <br>
                                                                      <input type="file" name="avatar">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}