{% extends 'base.html' %}

{% block  title%}
修改密码页面
{% endblock %}

{% block sidebar%}

{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>修改密码</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">个人信息</a></li>
          <li class="breadcrumb-item active">修改密码页面</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>


            <section class="section dashboard">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">修改密码</h5>
                      <div class="activity">
                          <form action="{% url 'changePassword' %}" method="POST">
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">原始密码</label>
                                  <div class="col-sm-10">
                                    <input type="password" name="oldPassword" class="form-control" placeholder="请输入原始密码">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">新密码</label>
                                  <div class="col-sm-10">
                                    <input type="password" name="newPassword"  class="form-control" placeholder="请输入新密码">
                                  </div>
                                  <div class="col-sm-10 offset-sm-2">
                                    <p class="text-muted small">* 新密码必须包含大写字母、小写字母、数字和特殊符号，至少包含8位字符</p>
                                </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label">新密码确认</label>
                                  <div class="col-sm-10">
                                    <input type="password" name="newPasswordConfirm"  class="form-control" placeholder="请再次输入新密码">
                                  </div>
                                </div>
                              <div class="row mb-3">
                                  <label for="inputText" class="col-sm-2 col-form-label"></label>
                                    <div class="col-sm-10">
                                        <button type="submit" class="btn btn-primary">提交</button>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- 引入Bootstrap CSS -->
              <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/1L_dstPt3HV5HzF6Gvk/e3kUw6fs72df0c7VTPfHJ" crossorigin="anonymous">
              <!-- 引入jQuery -->
              <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
              <!-- 可选：如果你使用的是Bootstrap的某些功能需要Popper.js -->
              <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBudMz5VeeMm3CtefylspvEYGMWg8Zn8+4z4TsmzRTgPTwXb0o" crossorigin="anonymous"></script>
              <!-- 引入Bootstrap JS -->
              <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
              <!-- 其他Meta标签和标题等 -->
              <meta charset="UTF-8">
              <meta name="viewport" content="width=device-width, initial-scale=1.0">
             <div id="message-alert"></div>
            </section>
            <script>
             $(document).ready(function() {
                $('form').on('submit', function(event) {
                    event.preventDefault(); // 阻止表单默认提交行为
                    var formData = $(this).serialize(); // 序列化表单数据
                    $.ajax({
                        type: 'POST',
                        url: '{% url 'changePassword' %}', // Django URL reverse 函数生成的URL
                        data: formData,
                        success: function(data) {
                            // 根据后端返回的数据决定显示成功或错误信息
                            var messageType = data.success ? 'alert-success' : 'alert-danger';
                            var messageContent = data.message || '未知错误';
                            $('#message-alert')
                                .addClass('alert ' + messageType) // 添加bootstrap的样式类，根据实际情况调整
                                .text(messageContent)
                                .fadeIn()
                                .delay(3000) // 消息停留时间，单位毫秒
                                .fadeOut();
                            if (data.success) {
                                // 如果操作成功，根据需要可以重置表单或其他操作
                                $('form')[0].reset();
                            }
                        },
                        error: function(xhr, status, error) {
                            // 处理Ajax请求错误
                            console.error(xhr.responseText);
                            $('#message-alert')
                                .addClass('alert alert-danger')
                                .text('网络错误，请稍后再试。')
                                .fadeIn()
                                .delay(3000)
                                .fadeOut();
                        } // 移除了多余的分号
                    }); // 确保ajax调用正确闭合
                }); // 修正表单提交事件的闭合
            }); // 修复并确保document.ready事件的闭合

            </script>

{% endblock %}

{% block echarts%}

{% endblock %}