{% extends 'base.html' %}

{% block  title%}
城市和景点等级分析
{% endblock %}

{% block sidebar%}

{% endblock %}


{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>城市和景点等级分析</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'cityChar' %}">数据可视化</a></li>
          <li class="breadcrumb-item active">城市和景点等级分析</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>


    <section class="section dashboard">
      <div class="row">
          <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">城市选择</h5>
                    <form action="{% url 'cityChar' %}" method="POST" class="w-100 d-flex align-items-center">
                {% csrf_token %}
                <!-- 创建一个包装器来居中输入组 -->
                <div class="w-100 d-flex justify-content-center">
                    <div class="input-group mb-3">
                        <!-- 不可编辑的提示文字 -->
                        <input type="text" class="form-control text-truncate" style="max-width: 300px; margin-right: 0.5rem;" value="请输入任意地级市名称" disabled>
                        <!-- 用户输入框 -->
                        <input type="text" class="form-control" style="max-width: 260px; margin-right: 0.5rem;" id="cityInput1" name="city" placeholder="城市名称">
                        <span class="input-group-text">市</span>
                        <!-- 提交按钮，减小右侧外边距 -->
                        <button type="submit" class="btn btn-primary mx-1">提交</button>
                    </div>
                </div>
            </form>
                </div>
              </div>
          </div>
          <script>
            // 页面加载时设置输入框的值
           window.addEventListener('DOMContentLoaded', (event) => {
        const cityInput1 = document.getElementById('cityInput1');
        const title1 = document.getElementById('title1');
        const title2 = document.getElementById('title2');
        const savedCity1 = localStorage.getItem('cityInputValue1');

        if (savedCity1) {
            cityInput1.value = savedCity1;
            title1.innerText = `${savedCity1}市景点数量柱形图`;
            title2.innerText = `${savedCity1}市景点星级分布图`;
        }
    });

    // 监听输入框的变化，实时保存输入值到localStorage，并更新标题
    document.getElementById('cityInput1').addEventListener('input', function() {
        const inputValue1 = this.value;
        localStorage.setItem('cityInputValue1', inputValue1);

        const cityTitle = inputValue1 || "默认城市";
        document.getElementById('title1').innerText = `${cityTitle}市景点数量柱形图`;
        document.getElementById('title2').innerText = `${cityTitle}市景点星级分布图`;
    });
          </script>

          <div class="col-lg-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="card info-card sales-card" style="height: 137.5px">
                    <div class="card-body">
                      <h5 class="card-title">景点个数</h5>
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-geo-alt-fill"></i> <!-- 使用地图标记填充图标，表示地点或景点 -->
                            </div>
                        <div class="ps-3">
                          <h6>{{ city_numbers }}个</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card info-card sales-card" style="height: 137.5px">
                    <div class="card-body">
                      <h5 class="card-title">A级景点个数</h5>
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
                      <div class="d-flex align-items-center">
                          <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="bi bi-tag-fill"></i> <!-- 使用标签填充图标，象征评级标签 -->
                            </div>
                        <div class="ps-3">
                          <h6>{{ total_count_value }}个</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
              <div class="row">
                <div class="col-lg-6">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" id="title1">全国各市景点数量柱形图</h5>
                        <div id="mains" style="width:100%;height: 450px"></div>


                    </div>
                  </div>

                </div>
                <div class="col-lg-6">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" id="title2">全国景点星级分布图</h5>
                        <div id="mainsTwo" style="width:100%;height: 450px"></div>


                    </div>
                  </div>

                </div>

              </div>
    </section>


{% endblock %}

{% block echarts%}
    <script>
        var chartDom = document.getElementById('mains');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['各城市景点个数']
          },
          toolbox: {
            show: true,
            feature: {
              dataView: { show: true, readOnly: false },
              magicType: { show: true, type: ['line', 'bar'] },
              restore: { show: true },
              saveAsImage: { show: true }
            }
          },
          calculable: true,
          xAxis: [
            {
              type: 'category',
              // prettier-ignore
              data:{{ cityCharOneData.Xdata | safe }}
            }
          ],
          yAxis: [
            {
              type: 'value'
            }
          ],
          dataZoom: [
            {
              show: true,
              start: 0,
              end: 20
            }
          ],
          series: [
            {
              name: '各城市景点个数',
              type: 'bar',
              data: {{ cityCharOneData.Ydata }},
              markPoint: {
                data: [
                  { type: 'max', name: 'Max' },
                  { type: 'min', name: 'Min' }
                ]
              },
              markLine: {
                data: [{ type: 'average', name: 'Avg' }]
              }
            }
          ]
        };

        option && myChart.setOption(option);

    </script>
    <script>
            var chartDom = document.getElementById('mainsTwo');
            var myChart = echarts.init(chartDom);
            var option;
            let data = {{ cityCharTwoData | safe }}
            const treemapOption = {
    tooltip: {
        trigger: 'item'
    },
    series: [
        {
            type: 'treemap',
            id: 'echarts-package-size',
            animationDurationUpdate: 1000,
            roam: false,
            nodeClick: undefined,
            data: data,
            universalTransition: true,
            label: {
                show: true, // 已经有此设置，现在添加formatter来显示数值
                formatter: '{b}\n{c}', // 显示分类名和数值，\n用于换行
            },
            breadcrumb: {
                show: false
            }
        }
    ]
};

const sunburstOption = {
    tooltip: {
        trigger: 'item'
    },
    series: [
        {
            type: 'sunburst',
            id: 'echarts-package-size',
            radius: ['20%', '90%'],
            animationDurationUpdate: 1000,
            nodeClick: undefined,
            data: data,
            universalTransition: true,
            itemStyle: {
                borderWidth: 1,
                borderColor: 'rgba(255,255,255,.5)'
            },
            label: {
                show: true, // 添加显示标签的设置
                formatter: '{b}\n{c}', // 同样显示分类名和数值，\n用于换行
            }
        }
    ]
};
            let currentOption = treemapOption;
            myChart.setOption(currentOption);
            setInterval(function () {
              currentOption =
                currentOption === treemapOption ? sunburstOption : treemapOption;
              myChart.setOption(currentOption);
            }, 3000);
    </script>
{% endblock %}