{% extends 'base.html' %}

{% block  title%}
评论分析图
{% endblock %}

{% block sidebar%}

{% endblock %}


{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>评论分析图</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">数据可视化</a></li>
          <li class="breadcrumb-item active">评论分析页面</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>


      <section class="section dashboard">

              <div class="row">
                 <div class="col-lg-6">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">评论内容词云图</h5>
                        <div id="mains" style="width:100%;height: 450px;text-align: center">
                            <img style="width:90%" src="/static/commentContentCloud.jpg" alt="">
                        </div>


                    </div>
                  </div>

                </div>
                <div class="col-lg-6">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">各区间段评论数量占比饼图</h5>
                        <div id="mainsTwo" style="width:100%;height: 450px"></div>


                    </div>
                  </div>

                </div>
                 <div class="col-lg-12">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">每日评论数量折线图</h5>
                        <div id="mainsThree" style="width:100%;height: 450px"></div>


                    </div>
                  </div>

                </div>
              </div>
            </section>


{% endblock %}

{% block echarts%}
    <script>
    var chartDom = document.getElementById('mainsTwo');
    var myChart = echarts.init(chartDom);
    var sizes = {{ echartsData.sizes | safe }};// 代表各部分的值
    var labels = {{ echartsData.labels | safe }};// 代表各部分的标签

// 将sizes和labels整合成ECharts所需的数据格式
    var data = sizes.map((value, index) => ({ value, name: labels[index] }));
    var option;

    option = {
      tooltip: {
        trigger: 'item'
      },
      series: [
        {
          name: '评论等级',
          type: 'pie',
          radius: '50%',
          data: data,
          label: {
                        show: true,
                        position: 'outside',
                        formatter: '{b}: {d}%',
                        textStyle: {
                            fontWeight: 'bold',
                            fontSize: 12
                        }
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 14,
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    },
        }
      ]
    };

    option && myChart.setOption(option);

    </script>
    <script>
        var chartDom = document.getElementById('mainsThree');
        var myChart = echarts.init(chartDom);
        var option;
          myChart.setOption(
            (option = {
              tooltip: {
                trigger: 'axis'
              },
              grid: {
                left: '5%',
                right: '15%',
                bottom: '10%'
              },
              xAxis: {
                data: {{ echartsData.xData | safe }}
              },
              yAxis: {},
              toolbox: {
                right: 10,
                feature: {
                  dataZoom: {
                    yAxisIndex: 'none'
                  },
                  restore: {},
                  saveAsImage: {}
                }
              },
              dataZoom: [
                {
                  startValue: '2022-08-25'
                },
                {
                  type: 'inside'
                }
              ],
              visualMap: {
                top: 50,
                right: 10,
                pieces: [
                  {
                    gt: 0,
                    lte: 2,
                    color: '#93CE07'
                  },
                  {
                    gt: 2,
                    lte: 4,
                    color: '#FBDB0F'
                  },
                  {
                    gt: 4,
                    lte: 6,
                    color: '#FC7D02'
                  },
                  {
                    gt: 6,
                    lte: 10,
                    color: '#FD0100'
                  },
                  {
                    gt: 10,
                    lte: 20,
                    color: '#AA069F'
                  }
                ],
                outOfRange: {
                  color: '#999'
                }
              },
              series: {
                name: '个数',
                type: 'line',
                data: {{ echartsData.yData }},
                markLine: {
                  silent: true,
                  lineStyle: {
                    color: '#333'
                  },
                  data: [
                    {
                      yAxis: 50
                    },
                    {
                      yAxis: 100
                    },
                    {
                      yAxis: 150
                    },
                    {
                      yAxis: 200
                    },
                    {
                      yAxis: 300
                    }
                  ]
                }
              }
            })
          );

        option && myChart.setOption(option);

    </script>
{% endblock %}