{% extends 'base.html' %}

{% block  title%}
删除评论
{% endblock %}

{% block sidebar%}


{% endblock %}

{% block content %}
    <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>删除评论</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'tableData' %}">评论功能</a></li>
          <li class="breadcrumb-item active">删除评论页面</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>
{% if comment %}
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">删除评论数据</h5>
                    <div class="activity">
                        <form action="{% url 'deleteComments' id %}" method="POST">
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">旅游地</label>
                                <div class="col-sm-10">
                                    <input type="text" name="username" disabled value="{{ travelInfo.sightName }}" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">详情地址</label>
                                <div class="col-sm-10">
                                    <input type="text" disabled name="address" value="{{ travelInfo.detailAddress }}" class="form-control">
                                </div>
                            </div>
                             <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">当前评分</label>
                                <div class="col-sm-10">
                                    <input type="text" disabled name="address" value="{{ comment.score }}分" class="form-control">
                                </div>
                            </div>
                             <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">当前评论</label>
                                <div class="col-sm-10">
                                    <input type="text" disabled name="address" value="{{ comment.content }}" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">评论时间</label>
                                <div class="col-sm-10">
                                    <input type="text" disabled name="address" value="{{ comment.date }}" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">删除评论</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
    <div class="alert alert-info" role="alert">
        当前用户尚未对此景点发表评论。
    </div>
    <a href="{% url 'addComments' id=travelInfo.Jid%}" class="btn btn-primary mt-3">添加评论</a>
{% endif %}
{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}