{% extends 'base.html' %}

{% block  title%}
价格和月销量分析
{% endblock %}

{% block sidebar%}

{% endblock %}


{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>价格和月销量分析</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">数据可视化</a></li>
          <li class="breadcrumb-item active">价格和月销量分析</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>


      <section class="section dashboard">
      <div class="row">
          <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">城市选择</h5>
                    <form action="{% url 'priceChar' %}" method="POST" class="w-100 d-flex align-items-center">
                {% csrf_token %}
                <!-- 创建一个包装器来居中输入组 -->
                <div class="w-100 d-flex justify-content-center">
                    <div class="input-group mb-3">
                        <!-- 不可编辑的提示文字 -->
                        <input type="text" class="form-control text-truncate" style="max-width: 300px; margin-right: 0.5rem;" value="请输入任意一个中国地级市名称" disabled>
                        <!-- 用户输入框 -->
                        <input type="text" class="form-control" style="max-width: 260px; margin-right: 0.5rem;" id="cityInput3" name="city" placeholder="城市名称">
                        <span class="input-group-text">市</span>
                        <!-- 提交按钮，减小右侧外边距 -->
                        <button type="submit" class="btn btn-primary mx-1">提交</button>
                    </div>
                </div>
            </form>
                </div>
              </div>
          </div>
          <script>
            // 页面加载时设置输入框的值
             window.addEventListener('DOMContentLoaded', (event) => {
        const cityInput3 = document.getElementById('cityInput3');
        const title1 = document.getElementById('title1');
        const title2 = document.getElementById('title2');
        const title3 = document.getElementById('title3');
        const title4 = document.getElementById('title4');
        const savedCity3 = localStorage.getItem('cityInputValue3');

        if (savedCity3) {
            cityInput3.value = savedCity3;
            title1.innerText = `${savedCity3}市景点价格趋势分析图`;
            title2.innerText = `${savedCity3}市景点门票销量区间柱形图`;
            title3.innerText = `${savedCity3}市景点门票折扣饼状图`;
            title4.innerText = `${savedCity3}市景点价格箱型图`;
        }
    });

    // 监听输入框的变化，实时保存输入值到localStorage，并更新标题
    document.getElementById('cityInput3').addEventListener('input', function() {
        const inputValue3 = this.value;
        localStorage.setItem('cityInputValue3', inputValue3);

        const cityTitle = inputValue3 || "默认城市";
        document.getElementById('title1').innerText = `${cityTitle}市景点价格趋势分析图`;
        document.getElementById('title2').innerText = `${cityTitle}市景点门票销量区间柱形图`;
        document.getElementById('title3').innerText = `${cityTitle}市景点门票折扣饼状图`;
        document.getElementById('title4').innerText = `${cityTitle}市市景点价格箱型图`;
    });
         </script>

          <div class="col-lg-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="card info-card sales-card" style="height: 137.5px">
                    <div class="card-body">
                      <h5 class="card-title">景点平均价格</h5>
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
                      <div class="d-flex align-items-center">
                         <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cash-coin"></i> <!-- 使用现金硬币图标，更适合表示价格 -->
                        </div>
                        <div class="ps-3">
                          <h6>{{ avgPriceAllCities }}元</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="card info-card sales-card" style="height: 137.5px">
                    <div class="card-body">
                      <h5 class="card-title">销量最高景点</h5>
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
                      <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-trophy"></i> <!-- 使用奖杯图标，象征销量冠军 -->
                        </div>
                        <div class="ps-3">
                          <h6>{{ bestSellingSight }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
              <div class="row">
                <div class="col-lg-6">

                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" id="title1">全国景点价格趋势分析图</h5>
                        <div id="mains" style="width:100%;height: 450px"></div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                       <h5 class="card-title" id="title2">全国景点门票销量区间柱形图</h5>
                        <div id="mainsTwo" style="width:100%;height: 450px"></div>
                    </div>
                  </div>
                </div>
                  <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" id="title3">全国景点门票折扣饼状图</h5>
                        <div id="mainsThree" style="width:100%;height: 450px"></div>
                    </div>
                  </div>
                </div>
                      <div class="col-lg-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title" id="title4">各市景点价格箱型图</h5>
                        <div id="mainsFour" style="width:100%;height: 450px"></div>
                    </div>
                  </div>
                </div>
              </div>
            </section>


{% endblock %}

{% block echarts%}
    <script>
        var chartDom = document.getElementById('mains');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'cross'
            }
          },
          legend: {},
          toolbox: {
            show: true,
            feature: {
              saveAsImage: {}
            }
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            // prettier-ignore
            data: {{ echartsData.xData  |safe}}
          },
          yAxis: {
            type: 'value',
            axisLabel: {
              formatter: '{value} 个'
            },
            axisPointer: {
              snap: true
            }
          },
          visualMap: {
            show: false,
            dimension: 0,
            pieces: [
              {
                lte: 0,
                color: 'green'
              },
              {
                gt: 0,
                lte: 1,
                color: 'red'
              },
              {
                gt: 1,
                lte: 4,
                color: 'green'
              },
              {
                gt: 4,
                lte: 5,
                color: 'red'
              },
              {
                gt: 5,
                color: 'green'
              }
            ]
          },
          series: [
            {
              name: '价格区间内景点个数/个',
              type: 'line',
              smooth: true,
              // prettier-ignore
              data: {{ echartsData.yData }},
              markArea: {
                itemStyle: {
                  color: 'rgba(255, 173, 177, 0.4)'
                },
                data: [
                  [
                    {
                      name: '起伏趋势较高',
                      xAxis: '免费'
                    },
                    {
                      xAxis: '100元以内'
                    }
                  ],
                    [
                    {
                      name: '较为平缓',
                      xAxis: '400元以内'
                    },
                    {
                      xAxis: '500元以内'
                    }
                  ]
                ]
              }
            }
          ]
        };

        option && myChart.setOption(option);

    </script>
    <script>
var chartDom = document.getElementById('mainsTwo');
        var myChart = echarts.init(chartDom);
        var option;
        option = {
            xAxis: {
                type: 'category',
                data: {{ echartsData.x1Data |safe }},
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: '{value} 个'
            },
            },
            legend:{

            },
            dataZoom: [
        {
          show: true,
          start: 0,
          end: 20
        }
      ],
            series: [{
                name: '销量区间内景点个数/个',
                type: 'bar',
                data: {{ echartsData.y1Data }},
                itemStyle: {
                    color: '#2f4554', // 柱状图颜色
                    emphasis: {
                        color: '#c23531', // 鼠标悬停时的颜色
                    }
                },
                label: {
                    show: true,
                    position: 'top',
                }
            }],
            animationEasing: 'elasticOut', // 动画效果
            animationDelay: function (idx) {
                return idx * 100; // 动画延迟时间
            },
        }
        option && myChart.setOption(option);


    </script>
    <script>
var chartDom = document.getElementById('mainsThree');
var myChart = echarts.init(chartDom);
var option;

option = {
  tooltip: {
    trigger: 'item'
  },
  legend: {
    orient: 'vertical',
    left: 'left',
      type: 'scroll',
  },
  series: [
    {
      name: '折扣占比个数',
      type: 'pie',
      radius: '50%',
      data: {{ echartsData.disCountPieData | safe }},
      emphasis: {
        itemStyle: {
          shadowBlur: 10,
          shadowOffsetX: 0,
          shadowColor: 'rgba(0, 0, 0, 0.5)',
          fontFamily: 'Microsoft YaHei', // 指定标签字体
        }
      }
    }
  ]
};

option && myChart.setOption(option);

    </script>
       <script>
        // 初始化ECharts实例，提前定义
         var chartDom = document.getElementById('mainsFour');
         var myChart1 = echarts.init(chartDom);
         var jsonData = JSON.parse('{{ json_data|safe }}');
         console.log(111,jsonData)
            // 确保数据已正确解析后，可以调用setChart函数
            setChart(jsonData);
            // 定义设置图表数据和配置的函数
            function setChart(dataObj) {
                console.log("原始数据:", dataObj);
        // 准备ECharts图表数据集
                let datasets = [];
                for (let city in dataObj.boxPlotData) {
                let stats = dataObj.boxPlotData[city];
                console.log(`Stats for city ${city}:`, stats);
                // 确保所有必要的统计值存在且正确无误
                if (stats.min !== undefined && stats.q1 !== undefined &&
                    stats.median !== undefined && stats.q3 !== undefined &&
                    stats.max !== undefined) {
                    console.log(`Adding data for city ${city}:`, {
                        min: stats.min,
                        q1: stats.q1,
                        median: stats.median,
                        q3: stats.q3,
                        max: stats.max
                    });
                    datasets.push({
                        id: city,
                        source: [
                            // 确保每个统计值被正确放置
                            [stats.min, stats.q1, stats.median, stats.q3, stats.max] // 应依次为 min, q1, median, q3, max
                        ]
                    });
                } else {
                    console.error(`Inconsistent data for ${city}, missing or incorrect statistical values.`);
                }
            }
                console.log("处理后的数据集:", datasets);
                            // 配置ECharts图表
                            option = {
                                dataset: datasets,
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },

                    xAxis: {
                        type: 'value',
                        name: 'Price Range',
                        nameLocation: 'middle',
                          nameGap: 30,
                          scale: true
                    },
                    yAxis: {
                        type: 'category',
                        data: Object.keys(dataObj.boxPlotData), // 使用城市作为分类数据
                    },
                    grid: {
                        left: '10%',
                        right: '10%',
                        bottom: 100
                    },
                    series: datasets.map((dataset, index) => ({
                        name: dataset.id,
                        type: 'boxplot',
                        datasetId: dataset.id,
                        itemStyle: {
                            borderColor: getColor(index),
                            color: getColor(index)
                        },
                    })),
                };


                    // 应用配置项
                    myChart1.setOption(option, true);
                }

            // 随机颜色函数，用于系列颜色
            function getColor(idx) {
                return `#${Math.floor(Math.random()*16777215).toString(16)}`;
            }

        </script>
{% endblock %}