{% extends 'base.html' %}
{% block title %}
    推荐页面
{% endblock %}

{% block sidebar%}

{% endblock %}


{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>景点推荐</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">推荐功能</a></li>
          <li class="breadcrumb-item active">景点推荐</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>

      <section class="section dashboard">
            <div class="row">
                {% for i in resultDataList %}
                     <div class="col-lg-4">
                                  <div class="card">
                                        <div class="card-body" style="width:100%;height: 600px">
                                          <h5 class="card-title">{{ i.sightName }}</h5>
                                            <a href="{{ i.detailUrl }}">
                                                                <img style="width:80%" src="{{ i.cover_img }}" alt="">

                                            </a>

                                            <div style="margin:7px 0">
                                                评分：
                                                {% if i.score == '5' %}
                                                    <span class="badge bg-success">{{ i.score }}分</span>
                                                {% elif i.score == '5.0' %}
                                                    <span class="badge bg-success">{{ i.score }}分</span>
                                                {% elif i.score >= '0' and i.score < '1' %}
                                                    <span class="badge bg-danger">{{ i.score }}分</span>
                                                {% elif i.score >= '1' and i.score < '2' %}
                                                    <span class="badge bg-warning">{{ i.score }}分</span>
                                                {% elif i.score >= '2' and i.score < '3' %}
                                                    <span class="badge bg-info">{{ i.score }}分</span>
                                                {% elif i.score >= '3' and i.score < '4' %}
                                                    <span class="badge bg-secondary">{{ i.score }}分</span>
                                                {% elif i.score >= '4' and i.score < '5' %}
                                                    <span class="badge bg-primary">{{ i.score }}分</span>
                                                {% endif %}
                                            </div>
                                            <div style="margin:7px 0">
                                                等级：<span class="" style="color: #f60">{{ i.star }}</span>
                                            </div>
                                            <div style="margin:7px 0">
                                                价格：<span class="" style="color:#008c8c">${{ i.price }}元</span>
                                             </div>
                                            <div style="margin:7px 0">
                                                详情地址：<span class="" >{{ i.detailAddress }}</span>
                                            </div>
                                            <div style="margin:7px 0">
                                                {% for img in i.img_list %}
                                                    <img style="width:20%;border:2px solid #ccc;padding:5px;margin-right:5px;margin-bottom: 5px" src="{{ img }}" alt="">
                                                {% endfor %}
                                            </div>
                                        </div>
                                  </div>
                    </div>
               {% endfor %}
            </div>
      </section>


{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}