{% extends 'base.html' %}

{% block  title%}
评论功能页面
{% endblock %}

{% block sidebar%}

{% endblock %}


{% block content %}
    <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>添加评论</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'tableData' %}">评论功能</a></li>
          <li class="breadcrumb-item active">添加评论</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>
            <section class="section dashboard">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">景点数据表格</h5>

              <!-- Table with stripped rows -->
              <table class="table table-borderless datatable" style="table-layout:fixed;" >
                    <thead>
                          <tr>
                            <th scope="col" style="text-align:center;">景区图片</th>
                            <th scope="col">景区名</th>
                            <th scope="col">景区星级</th>
                            <th scope="col">所在城市</th>
                            <th scope="col">详细地址</th>
                            <th scope="col">景点简介</th>
                            <th scope="col">景区评分</th>
                            <th scope="col">添加评论</th>
                            <th scope="col">查看评论</th>
                            <th scope="col">修改评论</th>
                            <th scope="col">删除评论</th>
                          </tr>
                    </thead>
                    <tbody>
                          {% for i in talbeData %}
                            <tr>
                                <td style="text-align: center;">
                                <a href="{{ i.detailUrl }}">
                                    <img style="vertical-align:middle; width:100%" src="{{ i.cover_img }}" alt="">
                                </a>
                                </td>
                                <td>{{ i.sightName }}</td>
                                <td><a href="#">{{ i.star }}</a></td>
                                <td>{{ i.city }}市</td>
                                <td>{{ i.detailAddress }}</td>
                                <td>{{ i.shortIntro }}</td>
                                <td>
                                    {% if i.score == '5' %}
                                        <span class="badge bg-success">{{ i.score }}分</span>
                                    {% elif i.score == '5.0' %}
                                        <span class="badge bg-success">{{ i.score }}分</span>
                                    {% elif i.score >= '0' and i.score < '1' %}
                                        <span class="badge bg-danger">{{ i.score }}分</span>
                                    {% elif i.score >= '1' and i.score < '2' %}
                                        <span class="badge bg-warning">{{ i.score }}分</span>
                                    {% elif i.score >= '2' and i.score < '3' %}
                                        <span class="badge bg-info">{{ i.score }}分</span>
                                    {% elif i.score >= '3' and i.score < '4' %}
                                        <span class="badge bg-secondary">{{ i.score }}分</span>
                                    {% elif i.score >= '4' and i.score < '5' %}
                                        <span class="badge bg-primary">{{ i.score }}分</span>
                                    {% endif %}
                                </td>
                                <td style="text-align:center;">
                                    <a href="{% url 'addComments' i.Jid %}" class="btn btn-primary waves-effect waves-light">添加评论</a>
                                </td>
                                <td style="text-align:center;">
                                    <a href="{% url 'viewComments' i.Jid %}" class="btn btn-secondary waves-effect waves-light">查看评论</a>
                                </td>
                                <td style="text-align:center;">
                                    <a href="{% url 'reviseComments' i.Jid %}" class="btn btn-success waves-effect waves-light">修改评论</a>
                                </td>
                                <td style="text-align:center;">
                                    <a href="{% url 'deleteComments' i.Jid %}" class="btn btn-danger waves-effect waves-light">删除评论</a>
                                </td>
                              </tr>
                        {% endfor %}
                    </tbody>
              </table>
              <!-- End Table with stripped rows -->
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}