{% extends 'base.html' %}

{% block  title%}
个人信息页面
{% endblock %}

{% block sidebar%}

{% endblock %}

{% block content %}
      <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>个人信息</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'home' %}">个人信息</a></li>
          <li class="breadcrumb-item active">个人信息页面</li>
        </ol>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>
      <section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">个人信息</h5>
                    <div class="activity">
                        <!-- 移除了<form>标签，因为我们不再提交表单，而是直接展示数据 -->
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">用户名</label>
                            <div class="col-sm-10">
                                <p class="form-control">{{ userInfo.userName }}</p> <!-- 直接展示用户名 -->
                            </div>
                        </div>
                        <!-- 类似地，对于其他信息也用<p>标签展示 -->
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">地址</label>
                            <div class="col-sm-10">
                                <p class="form-control">{{ userInfo.userAddress }}</p>
                            </div>
                        </div>
                        <!-- 省略其他字段展示... -->
                        <!-- 性别用条件判断展示 -->
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">性别</label>
                            <div class="col-sm-10">
                                <p class="form-control">{{ userInfo.userSex }}</p>
                            </div>
                        </div>
                        <!-- 个人简介 -->
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">个人简介</label>
                            <div class="col-sm-10">
                                <p class="form-control">{{ userInfo.userTextarea }}</p>
                            </div>
                        </div>
                        <!-- 头像展示 -->
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-2 col-form-label">头像</label>
                            <div class="col-sm-10">
                                <img src="/media/{{ userInfo.userAvatar }}" alt="" style="width:100px;border:1px solid #ddd;padding:5px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}