{% extends 'base.html' %}

{% block  title%}
查看评论
{% endblock %}

{% block sidebar%}


{% endblock %}

{% block content %}
    <div class="pagetitle" style="display: flex;align-items: center">
      <div style="margin-right: auto">
          <h1>查看评论</h1>
        <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'tableData' %}">评论功能</a></li>
          <li class="breadcrumb-item active">查看评论页面</li>
        </ol>
            <h2>{{ travelInfo.sightName }} 的评论列表</h2>
      </nav>
      </div>
        <h5 style="font-weight: normal">
            {{ nowTime.year }} - {{ nowTime.mon }} - {{ nowTime.day }}
        </h5>
    </div>

    <section class="section dashboard">
        <div class="row">
            <!-- 假设这里你可能还会展示一些旅游信息的其他详情，如图片等 -->
        </div>
    </section>

    <section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                        <style>
                            /* 自定义表格样式 */
                            .custom-table {
                                width: 100%;
                            }
                            .custom-table th, .custom-table td {
                                border: 1px solid #dee2e6;
                                padding: 0.75rem 0.75rem;
                                vertical-align: top;
                                text-align: center;
                            }
                            .custom-table thead th {
                                background-color: #f8f9fa; /* 浅蓝色 */
                            }
                            .custom-table tbody tr:nth-child(even) {
                                background-color: #ffffff; /* 白色 */
                            }
                            .custom-table tbody tr:nth-child(odd) {
                                background-color: #f8f9fa; /* 浅蓝色 */
                            }
                            /* 调整评论内容列的宽度 */
                            .content-column {
                                width: 60%; /* 根据需要调整 */
                            }
                            /* 增加其他列的宽度 */
                            .other-columns {
                                width: 15%; /* 示例宽度，根据实际需求调整 */
                            }
                        </style>
                    <h5 class="card-title">评论列表</h5>
                    <table class="table custom-table">
                        <thead>
                            <tr>
                                <th class="other-columns">评论者</th>
                                <th class="content-column">评论内容</th>
                                <th class="other-columns">用户评分</th>
                                <th class="other-columns">评论时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in travelInfo.comments %}
                                <tr>
                                    <td class="other-columns">{{ comment.author }}</td>
                                    <td class="content-column">{{ comment.content }}</td>
                                    <td class="other-columns">
                                        <span class="rating"
                                              style="color:
                                                         {% if comment.score == 5 %}#ffcc00
                                                         {% else %}#f44336{% endif %}">
                                            {{ comment.score }}星
                                        </span>
                                    </td>
                                    <td class="other-columns">{{ comment.date }}</td>
                                </tr>
                            {% empty %}
                                <tr><td colspan="4" class="no-comment">暂无评论</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- 分页部分 -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if comments.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ comments.previous_page_number }}" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            {% endif %}
            {% for page in comments.paginator.page_range %}
                {% if page == comments.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
            {% if comments.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ comments.next_page_number }}" aria-label="Next">
                        <span> aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block echarts%}
    <script>

    </script>
{% endblock %}